<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="../static/css/fonts.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="../static/css/style.css">

    <title>Login</title>
</head>

<body>
    <div class="container center">
        <section class="login">
            <hr class="horizontalLine">
            <h3 class="m-3">Login with your Google account</h3>
            <a href="/auth/google">Login with google</a>
        </section>
    </div>

</body>

</html>