<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="referrer" content="no-referrer" />
    <meta http-equiv="Content-Security-Policy" content="img-src https: data:;">
    <link rel="icon" href="data:,">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/fonts.css">
    <title>hmmmmm</title>
</head>

<body style="display: flex; flex-direction: column;">
    <section class="not-authorized">
        <a style="align-self: center;" href="https://www.google.com/">
            <h2 style="display:block;margin-top:30vh;align-self: center;text-align: center;">We're sorry, not authorized login</h2>
        </a>
    </section>
    <script src="../static/libs/jquery-3.6.0.min.js"></script>
    <script src="../static/libs/bootstrap/js/bootstrap.js"></script>
</body>

</html>