/* Welcome section */


/* Process Message */

#process-msg {
    color: red;
    text-align: center;
    margin-top: 50px;
    font-weight: bolder;
}


/* Purcase Order Section */

label {
    display: inline-block;
    width: 140px;
    text-align: right;
}

​ .align-horizontaly {
    display: flex;
}

.center {
    text-align: center;
}


/* Pdf viewer */

.pdf-viewer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signature {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-bar {
    background: rgb(97, 96, 96);
    color: #fff;
    padding: 1rem;
    border-radius: 8px;
}

.btn {
    background: purple;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.7rem 2rem;
}

.btn:hover {
    opacity: 0.9;
}

.page-info {
    margin-left: 1rem;
}

.error {
    background: orangered;
    color: #fff;
    padding: 1rem;
}

.horizontalLine {
    border: none;
    border-bottom: 1px solid gainsboro;
}


/* Signature canvas */

.signature {
    display: none;
}

#invoice-sign-btn {
    display: none;
}

.validate-docs {
    display: none;
}

#canvas {
    margin-bottom: 5px;
    border: 1px solid rebeccapurple;
    border-radius: 5px;
    background-color: black;
    color: white;
}


/* Preloader */

.process-loader {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    /* bottom: 50vh; */
    top: 60vh;
    background: transparent;
    z-index: 999999;
    opacity: 0.8;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid purple;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Login Page */

.login {
    display: flex;
    flex-direction: column;
}

.login-btn {
    margin: auto;
}


/* Dashboard */